<div id="<%= dom_id comestible %>">
  <p>
    <strong>Name:</strong>
    <%= comestible.name %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= comestible.cost %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= comestible.weight %>
  </p>


  <p>
    <strong>Type:</strong>
    <%= comestible.type %>
  </p>

</div>
