<p style="color: green"><%= notice %></p>
<div>
<%= link_to "New product", new_product_path %>
</div>
<div>
<%= link_to "Volver", home_path %>
</div>
<h1>Products</h1>
<form class="filter_form">
 <%= select("filter", "type", %w[All Comestible Souvenir Bebestible]) %>
<input type="submit" value="Filter" />
<div id="products">
  <% @products.each do |product| %>
    <%= render product%>
    <p>
      <%= link_to "Show this product", product_url(product) %>
    </p>
  <% end %>
</div>
