<div id="<%= dom_id bebestible %>">
  <p>
    <strong>Name:</strong>
    <%= bebestible.name %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= bebestible.cost %>
  </p>

  <p>
    <strong>Volum:</strong>
    <%= bebestible.volum %>
  </p>


  <p>
    <strong>Type:</strong>
    <%= bebestible.type %>
  </p>

</div>
